body {
    background-color: #02103a;
    color: white;
    margin: 0;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif; 
}

.titulo {
    color: #ff8c00;
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;

}

div {
    background-color: #052483;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: 2px solid #ffffff;
    border-radius: 20px;
    box-shadow: #17b2d159 0px 5px 15px;;

}

label {
    margin-bottom: -15px;
    text-align: left;
    width: 100%;
    padding: 5px;
}

input {
    width: 100%;
    border-radius: 999px;
    padding: 5px;
    border: none;
}

button {
    width: 105.5px;
    border-radius: 999px;
    padding: 5px;
    background-color: transparent;
    border: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 18px;
    transition: all 200ms linear;
}

button:hover {
    cursor: pointer;
    color: #02103a;
    background-color: #ffffff;

}

p {
    font-size: 30px;
    font-weight: 700px;
    
}

